@charset "UTF-8";

.table {
	margin: 0 auto;
}

.buttonArea {
	margin-top: 20px;
}

#regist {
	margin-left: 10px;
}

/*==================================
    必須
==================================*/

.required{

    padding:2px 7px;

    border-radius:4px;

    background:#ff6b6b;

    color:white;

    font-size:10px;

    font-weight:bold;
    
    margin-left: 8px;

}