@charset "UTF-8";

.count_area {
	display: flex;
	gap: 80px;
	padding: 3px 0px 20px 0px;
	justify-content: space-evenly;
	border: solid 1px #2b4f82;
}
 
.count {
	width: 150px;
	padding: 10px;
	font-size:15px;
	text-align: center;
}

.mytask {
	padding-top: 35px;
}