@charset "UTF-8";

.search_area{
    display:flex;
    gap:20px;
}

.search{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    width:auto;
    font-size:15px;    
}

.title{
	margin-bottom:30px;
}

#caseName,#taskStatus,#managerId{
    font-size:14px;  
}

#tasksTable_filter label {
  text-align: right;
}

.number {
	font-size:30px;
	font-weight:bold;
}

#edit {
    appearance: none;
    -webkit-appearance: none;
    background: transparent !important;
    color: #0078d4 !important;
    border: 2px solid #0078d4;
    padding: 6px 12px;
    font-size: 16px;
    margin-top:14px;
}

#edit:hover {
    background: transparent !important;
    color: #005fa3 !important;
    border-color: #005fa3;
}
