@charset "UTF-8";

.search_area{
    display:flex;
    gap:20px;
}

.search{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    width:auto;
    font-size:15px;    
}

.title{
	margin-bottom:30px;
}

#caseName,#taskStatus,#managerId{
    font-size:14px;  
}

#tasksTable_filter label {
  text-align: right;
}

/*=========================
 スライダー
=========================*/

.slider-area{

    display:flex;
    align-items:center;
    gap:18px;

}

.slider-area input[type=range]{

    flex:1;

    accent-color:#2d79f3;

    cursor:pointer;

}

#progressValue{

    width:50px;

    font-weight:bold;

    color:#345;

    text-align:right;

}