@charset "UTF-8";

#regist {
	margin-bottom: 13px;
}

/*ユーザーの新規登録-------------------------------------------------*/
.radioArea {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.title {
    min-width: 60px;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.authorityAdmin,
.authorityUser {
    display: flex;
    align-items: center;
    gap: 5px;
}

.authorityAdmin label,
.authorityUser label {
    display: inline;
    padding-top: 5.5px;
}

#submitArea{
	margin-top: 14px;
}


/*ユーザーの編集-----------------------------------------------------------------*/

.radioArea {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap: 8px;
	column-gap: 5px;
}

#authorityAdmin label,
#authorityGeneral label,
#userStatusDisabled label,
#userStatusEnabled label {
    display: inline;
    padding-top: 5.5px;
}
table#userTable table tbody td{
	padding: 5px;
}
